/********************************************/
/* Custom FIX migration */
/********************************************/
$('.clear_col, .col_1_2, .col_2_2, .cntwrp.feature_image, .cntwrpInner, .col_1_1, .col_1_3, .col_2_3, .col_3_3, .col_header ').removeClass();
$('.wrap__page-content span, .wrap__page-content p').attr('style', 'font-size:16px;');
$('.wrap__page-content font').attr('face', '');
/********************************************/
/* MIGRATION CSS FIXES */
/********************************************/
.cntxapp{
    width:100%;
    float:none;
    padding-right:initial;
}
.logo{
  width:auto;
}
/********************************************/
/*==================CUSTOM CSS======================*/
.logo__link {
    display: block!important;
}
#content_sublinks{
    display:none;
}
#content_sublinks{
    clear:both!important;
}
#content_sublinks ul{
    clear:none!important;
}
.wrappage-content ul, .wrapeditable ul, .wrapeditable ol, .wrap__page-content ul{
    clear: none;
}
.staff ul#staff__list{
    list-style-type:none!important;
}
.wrap__page-content img{
    padding: 10px;
}
#gmap{
    width:100%!important;
    height:520px!important;
}
.form_apt__container.form__container{
    float:right!important;
}
@media(min-width:1200px){
    .cntxapp{
        width:initial;
        float:right;
        padding-right:45px;
    }
}
@media(min-width:480px){
  .dflex{
    display:flex;
  }
  .flexone{
    flex:1;
  }
  .flextwo{
    flex:2;
  }
  .wrap__header .location__phone{
    height:0!important;
  }
}
@media(max-width:1024px){
    .wrap__header .location__phone{
        height:auto!important;
    }
    .location__phone, .location__fax{
        margin:auto!important;
    }
}
@media(max-width:480px){
    .flexone{
        border-bottom: 1px solid;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .fontsize{
        font-size:5vw!important;
    }
    .wrap__container img, .wrap--inner img{
        width:auto;
        height:auto!important;
        float:none!important;
        display:block!important;
        margin:0 auto!important;
    }
    .wrap__page-content img:not(.leaflet-tile), .wrap__editable img:not(.leaflet-tile), .wrap__editable-content img:not(.leaflet-tile), .staff-member img{
        width:auto;
        margin:0 auto!important;
        height:auto!important;
        display:block!important;
        float:none!important;
        padding-left:10px!important;
    }
    iframe{
        width:auto!important;
    }
    .wrap__page-content div{
        float:none!important;
    }
}
/*==================CUSTOM CSS======================*/















/********************************************/

/* theme fixes for white */
body, p, span, div, li{
    color:black!important;
}


#main-home, .wrap--inner, .wrap__page{
    background:white;
}
hr{
    border-color:black!important;
}
.wrap__hours-map{
    background-color:white!important;
}
.wrap__hours{
    border-color:#d7d7d7!important;
}
#main-home, .wrap__footer .wrap--inner{
    background-color:transparent!important;
}

#main-home .col_footer{
    display:none;
}

/* LOGO MOBILE AND PC */
.wrap__logo_location .wrap__logo__header, .wrap__logo_location .locations, .wrap__logo_location .location{
    display:block!important;
}
.wrap__logo_location .location__address, .wrap__logo_location .location__city-state-zip, .wrap__logo_location .location__phone a{
    float:none!important;
    font-size:24px;
}
.wrap__logo_location .wrap__locations__header{ margin-top:50px; }
.wrap__logo_location .wrap__logo__header, .wrap__logo_location .wrap__locations__header{
    float:none!important;
    text-align:center!important;
}
.wrap__logo_location .location__address{
    margin:0 auto!important;
}
.wrap__logo_location .logo {
    margin-top:25px;
}
.logo__description{
    font-size:18px;
}
header .component__title-caption-wrap, .wrap__logo_location .location__city-state-zip{
    margin:0;
}
header .component__title-caption-wrap h2{ font-size:18px!important; }
header .socialmedia__list, header .component__title-caption-wrap{
    display: inline-block;
    vertical-align: middle;
}

/* main page fix */
.wrap__image_home{
    display:none;
}
.home-layout .wrap__page-content{
    display:block;
    width:100%;
}


/* navfix */
#navigation_header > ul > li:nth-child(9), #navigation_header > ul > li:nth-child(10), #navigation_header > ul > li:nth-child(11), #navigation_header > ul > li:nth-child(12), #navigation_header > ul > li:nth-child(13), #navigation_header > ul > li:nth-child(14){
    z-index:0;
}





/********************************************/


/********************************************/
/* QUIN FIX */
/********************************************/
.wrap__logo .logo, .wrap__footer .logo, .logo__inner .logo{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.wrap__header .location__phone{
    height:0;
}
.logo__summary{
    max-width:fit-content;
}
/********************************************/

/********************************************/
/* SANDRA FIX */
/********************************************/
.gallery-item--image.scale{
  float:none;
}
.logo{
  width:auto;
}
/********************************************/





/********************************************/
SCRATCH
/********************************************/



.three-parts{
  width:33%;
  display:inline-block;
  vertical-align: top;
  text-align:center;
}

.two-parts{
  width:33%;
  display:inline-block;
  vertical-align: top;

}
.two-parts.big{
  width:66%;
}
/********************************************/







/********************************************/
/* REMOVE FONT TAG FIX */
/********************************************/
/* v1 */
$('font').replaceWith($('<div>' + this.innerHTML + '</div>'));
/* this is not working */
/********************************************/
/* v2 */
var $span = $(".wrap__page-content span");
  $span.replaceWith(function () {
      return $('<div/>', {html: this.innerHTML});
  });
/* slightly working */
/* cant understand */
/* this is not working */
/********************************************/
var content = $('.contentAreaA span').text();
$(content).each(function(){
    $(this).replaceWith($('<div>' + this.innerHTML + '</div>'));
    console.log(content);
});
/* this is not working */











/********************************************/
/* CHOCOLATE GALLERY FEATURED BLOCK */
/********************************************/
<div class="dflex">
  <div class="flexone">
    <a href="services">
      <div class="textvert dinline">COSMETIC</div>
      <div class="dinline"><img src="https://my.onlinechiro.com/0036868/storage/app/media/_clientGalleryhm/gallery_1.jpg" alt=""></div>
    </a>
  </div>
  <div class="flexone">
    <a href="services">
      <div class="textvert dinline">RESTORATIVE</div>
      <div class="dinline"><img src="https://my.onlinechiro.com/0036868/storage/app/media/_clientGalleryhm/gallery_2.jpg" alt=""></div>
    </a>
  </div>
  <div class="flexone">
    <a href="services">
      <div class="textvert dinline">PREVENTIVE</div>
      <div class="dinline"><img src="https://my.onlinechiro.com/0036868/storage/app/media/_clientGalleryhm/gallery_3.jpg" alt=""></div>
    </a>
  </div>
  <div class="flexone">
    <a href="services">
      <div class="textvert dinline">PEDIATRIC</div>
      <div class="dinline"><img src="https://my.onlinechiro.com/0036868/storage/app/media/_clientGalleryhm/gallery_4.jpg" alt=""></div>
    </a>
  </div>

</div>
<style media="screen">
  .textvert{
    color: #DDC4A2;
    font-family: "lato-light","Arial Black",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: left top 0;
    transform-origin: left top 0;
    letter-spacing: 2px;
    padding: 13px 20px;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
  }
  .textvert.dinline{
    margin-left: 1px;
  }
  .dinline{
    display:inline-block;
  }
  .dinline img{
    max-width:75%;
    min-width:75%;
    float:right;
  }
  .dflex a{
    position:relative;
  }
</style>







/* EFEKS */
<a class="slide" href="#">Slide Out</a>
<a class="spin" href="#">Spin</a>

<div id="fade-in" class="box"></div>
<div id="spin-in" class="box"></div>

<h1 class="spacing">Letter Spacing</h1>

  body {
    margin: 1em;
  }

  a {
    text-decoration: none;
    background: #eee;
    padding: .5em;
    margin-bottom: 1em;
    display: inline-block;
  }

  .box {
    display: block;
    background: lightblue;
    margin-bottom: 1em;
  }

  #fade-in {
    height: 150px;
    width: 1px;
    opacity: 0;
    transition: all .75s ease;
  }

  #fade-in.show {
    opacity: 1;
    height: 150px;
    width: 500px;
  }

  #spin-in {
    opacity: .2;
    height: 50px;
    width: 50px;
    transform: translateX(0) rotate(0deg);
    transition: all .75s ease;
  }

  #spin-in.show2 {
    transform: translateX(450px) rotate(720deg);
    opacity: 1;
  }

  h1.spacing {
    letter-spacing: 0;
    opacity: .5;
    transition: all .75s ease-out;
  }

  h1.spacing.spaced {
    opacity: 1;
    letter-spacing: 10px;
  }
/* script */
$('.slide').on('click', function(){
    $('#fade-in').toggleClass('show');
});

$('.spin').on('click', function(){
    $('#spin-in').toggleClass('show2');
});

$('h1.spacing').on('mouseenter', function(){
  $(this).toggleClass('spaced');
});
/* endscript */
/* END EFEKS */
